---js
// don't need 'Home' link since the site name on the left is the same, and because w/ 'Home' there 
// are enough links to make it wrap on narrow displays, which looks off since only the MLB link is on the 
// second row and the spacing between seems longer than it should be
//const eleventyNavigation = {
//	key: "Home",
//	order: 1
//};

const numberOfLatestPostsToShow = 3;
---
{% set mlbwPosts = collections.mlbw %}
{% set nonMlbwPosts = collections.nonMlbw %}

<h2>Latest Posts</h2>
{% set postslist = nonMlbwPosts | head(numberOfLatestPostsToShow) | reverse %}
{% set postslistCounter = nonMlbwPosts | length %}
{% include "postslist.njk" %}

{% set moreNonMlbwPosts = (nonMlbwPosts | length) - numberOfLatestPostsToShow %}
{% if moreNonMlbwPosts > 0 %}
<p>{{ moreNonMlbwPosts }} more post{% if moreNonMlbwPosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

<h2>Latest MLB Watchability Posts</h2>
{% set postslist = mlbwPosts | head(numberOfLatestPostsToShow) | reverse %}
{% set postslistCounter = mlbwPosts | length %}
{% include "postslist.njk" %}

{% set moreMlbwPosts = (mlbwPosts | length) - numberOfLatestPostsToShow %}
{% if moreMlbwPosts > 0 %}
<p>{{ moreMlbwPosts }} more MLB Watchability post{% if moreMlbwPosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
